.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $additional-color;
  width: 1170 px;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.site-header-content {
  @include flex-center;
  width: 1170px;
}

.logo-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 85px;
}

.link {
  text-decoration: none;
}

.site-nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
}

.site-nav-item {
  position: relative;
  margin-right: 50px;
  padding-top: 34px;
  padding-bottom: 34px;

  &:last-child {
    margin-right: 0;
  }
}
.site-nav-item:hover .nav-link-active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: $accent-color;
  border-radius: 4px;
}

.site-nav:hover {
  color: $accent-color;
}

.site-nav-main-address {
  margin-left: auto;
}

.site-nav-address {
  @include flex-center;
  margin-left: auto;
  font-style: normal;
}
.site-nav-address .site-nav-address-item + .site-nav-address-item {
  margin-left: 30px;
}

.site-nav-address-item {
  font-style: normal;

  &:last-child {
    margin-right: 0;
  }
}

.mail-links {
  @include flex-center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: $accent-color;
  }
}

.site-nav-mail-icon {
  width: 16px;
  height: 11px;
  padding-right: 10px;
  fill: currentColor;
}

.telnumber-links {
 @include flex-center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: $transition-timing-function;

  &:hover {
    color: $accent-color;
  }
}

.site-nav-smartphone-icon {
  width: 10px;
  height: 15px;
  padding-right: 10px;
  fill: currentColor;
}
